{% extends "basewithoutlogin.html" %}

{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-offset-4 col-md-4">
            <h1 class="school">{{ school.school_name }}</h1> 
            <h4>{{ school.school_type }}</h4>
            
            <hr>
    </div>
     </div>
      <div class="row">
                <div class="col-md-4">
                    <img src="{{ MEDIA_URL }}{{ school.logo }}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff; border-radius:50%;" >
                    <h3>{{ school.phone_number }}</h3>
                    <h3><a href="{{ school.url }}">Website</a></h3>
                    </div>
                    <div class="col-md-8">
                        <h4>Areas</h4>
                        <h2>{{ school.Area }}</h2>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6">
                        <h4>Price for 12 Lessons from:</h4>
                        <h2>€{{ school.Lesson_Price_For_12 }}</h2>
                        </div>
                        <div class="col-xs-6">
                        <h4>Price for 60 mins Lesson from:</h4>
                        <h2>€{{ school.Lesson_Price_For_1 }}</h2>
                        </div>
                        </div>
                        <hr>
                        <h4>Lesson Types</h5>
                        
                        {% if 'Motorcycle' in school.products %}
                         <h4>IBT<i class="fa fa-motorcycle" aria-hidden="true"></i></h4>
                        {% endif %} 
                        {% if 'Car' in school.products %}
                        <h4>EDT<i class="fa fa-car" aria-hidden="true"></i></h4>
                        {% endif %} 
                        
                        
                        <hr>
                        <h4>Description</h5>
                        <h2>{{ school.Business_des | safe }}</h2>
                        <hr>
                        
                        
                        
                        
                        <h4>Schools Close By</h5>
                        {% for r in related %}
                        {{r}},
                        {% endfor %}
                        
                    </div>
                </div>
                
                
</div>


    <div class="row">
         
        <div class="col-md-10 col-sm-9">
            

       
      
            <div class="row">
                <div class="col-xs-9">
                     
                    <button class="btn btn-default" onclick="location.href='{% url 'all_schools' %}'">Back</button>
                    
                    
                     
                     </div>
            </div>
        </div>
    </div>
    
     
{% endblock %}